<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <test name="Selenium_Assignmeent">
        <parameter name="BaseURL" value="https://www.premierinn.com/gb/en/home.html"></parameter>
        <parameter name="Location-1" value="Nigeria"></parameter>
        <parameter name="Location-2" value="Ausschläger Weg, Hamburg, Germany"></parameter>
        <parameter name="Location-3" value="Pakistanische Moschee, Berlin, Germany"></parameter>
        <parameter name="browser" value="FireFox"></parameter>
        <classes>
            <class name="SeleniumAssignment">
            </class>
        </classes>
    </test>
</suite>